@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');


/*---------------------------------------------------- General Rules */
* {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*---------------------------------------------------- Base.html page */

nav .brand-logo {
    font-weight: 500;
    margin-left: 15px;
    font-family: 'Skranji', cursive;
}

.logo {
    font-weight: 400;
    font-family: 'Skranji', cursive;
}

#mobile-demo a {
    font-weight: 500;
    margin-top: 20px;
}

nav ul a {
    color: #f9fbe7;
}

#trigger {
    color: #f9fbe7;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card-image img {
    max-height: 180px;
    max-width: 100%;
}

#book-card {
    padding-bottom: 0px;
}

/*---------------------------------------------------- Flash messages */
.flashes h4 {
    line-height: 2;
}

/*---------------------------------------------------- Footer */
footer .footer-heading {
    font-size: 2rem;
}

/*---------------------------------------------------- Home.html page */

#rules {
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 20px 0 20px 0;
    margin-bottom: 40px;
}

#rules h6 {
    font-weight: 700;
    text-decoration: underline;
    font-size: 2rem;
}

#rules ul li {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 1.25rem;
}

#categories {
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 0 20px 0 20px;
    margin-bottom: 40px;
}

#categories h6 {
    font-weight: 700;
    text-decoration: underline;
    font-size: 1.5rem;
}

#categories ul li {
    font-weight: 600;
    font-size: 1.25rem;
}

/*---------------------------------------------------- 404.html page */

#error {
    margin-top: 40px;
}

#error .error-message p {
    font-size: 1.5rem;
}

#error .error-message a {
    margin-top: 40px;
}

/*---------------------------------------------------- categories.html page */

#categories-card-title {
    font-weight: 500;
}