{% extends "base.html" %} {% block content %}

<h3 class="cyan-text text-darken-3 center-align">Add Book</h3>

<div class="row">
  <form class="col s12" method="POST" action="">
    <div class="row">
      <div class="input-field col m6 s12">
        <i class="fas fa-book prefix cyan-text text-darken-3"></i>
        <input id="icon_prefix" type="text" class="validate" />
        <label for="icon_prefix">Book Name</label>
      </div>
      <div class="input-field col m6 s12">
        <i class="fas fa-user prefix cyan-text text-darken-3"></i>
        <input id="icon_telephone" type="tel" class="validate" />
        <label for="icon_telephone">Author Name</label>
      </div>
    </div>
  </form>
</div>

{% endblock %}
