{% extends "base.html" %} {% block content %} {% for book in books %}
{{book.book_name }}<br />
{{ book.category_name }}<br />
{{ book.author_name }}<br />
{{ book.image_url }}<br />
{{ book.book_summary }}<br />
{{ book.must_read }}<br />
{{ book.book_url }}<br />
{% endfor %}

<ul class="collapsible popout">
  <li>
    <div class="collapsible-header white-text cyan darken-3 text-shadow">
      <i class="fas fa-caret-down"></i>First
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header white-text cyan darken-3 text-shadow">
      <i class="fas fa-caret-down"></i>Second
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header white-text cyan darken-3 text-shadow">
      <i class="fas fa-caret-down"></i>Third
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>

{% endblock %}
