{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12">
    <h2 class="center-align">Welcome to our Book Manager!</h2>
    <br />
  </div>
</div>

<div class="row">
  <div id="rules" class="col s12 l7 lime lighten-5 black-text">
    <h6 class="center-align">Steps To Follow</h6>
    <ul>
      <li>
        1. You can look for recommended books added by other members in the
        section Books
      </li>
      <li>
        2. If you would like to add any book you love, simply register in the
        navigation menu on the top of our website
      </li>
      <li>
        3. You are allowed to edit or delete only the books which you have
        posted into the book manager
      </li>
    </ul>
  </div>
  <div id="categories" class="col s12 offset-l1 l4 red lighten-4">
    <h6 class="center-align">Book Categories Available</h6>
    <div class="row">
      {% for category in categories %}
      <ul>
        <div class="col s6 m3 l6">
          <li>{{- category.category_name -}}</li>
        </div>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
